{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    {% if history %}
    <table class="table table-striped">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        {% for item in history | reverse() %}
            <tr>
                <td>{{item.symbol}}</td>
                <td>{{item.shares}}</td>
                <td>${{item.price}}</td>
                <td>{{item.transacted_date}} {{item.transacted_time}}</td>
            </tr>
        {% endfor %}
    </table>
    
    {% else %}
    <p class="well">
        <strong>History is empty</strong>
    </p>
    {% endif %}
{% endblock %}
